
.wrapper {
    background-color:#4e4e5c;  
    border-radius: 5px;
    margin: auto 10px; 
   
}
.wrapperDownPart {   
    padding: 10px;      
    margin-bottom: 10px; 
}
.wrapperUpPart {    
    padding: 10px;     
}
.curBal{    
    display: flex;
    flex-direction: row;
}
.curDown {
    color: rgb(153, 153, 152);
    font-size: 13px;
    margin-left: 5px;
    display: flex;    
    justify-content: flex-end;
}
.container{
    width: 100%;
}
.containerUp{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.price{
    color: whitesmoke;
    font-size: 16px; 
    display: flex;    
    justify-content: space-between;
}

.text{
    color: rgb(153, 153, 152);
    font-size: 13px;
    display: flex;    
    justify-content: space-between;
}

.endLine {
    border:none;
    margin: 0 10px;
    background-color:rgba(141, 141, 141, 0.185);
    color:rgba(141, 141, 141, 0.678);
    height: 1px;
}
a {
    text-decoration: none;
}