.text {
    color: rgb(153, 153, 152);
    font-size: 13px;
}
.balance{
    color:whitesmoke;    
    font-size: 32px;
    margin-bottom: 20px;
}

.profitUP {
    color:#0cdb83;
    margin-bottom: 10px;
}

.profitDown {
    color:red;
    margin-bottom: 10px;
}

.wrapper {
    display:flex;
    flex-direction: column;  
    align-items: center;
    justify-content: center;
}

.navBar{
    width: 100%;
    display:flex;
    flex-direction: row; 
    justify-content: space-between;
    
}

.ring img {
    width: 32px;
}

.ring,.search {
    margin:15px;
}
