.app-wrapper {
  margin: 0 auto;
  max-width: 1280px;
  min-height: 100%;
  background-color: #40424f;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}